.more-about {
  background-color: #eee;
  overflow: hidden;
  min-height: 300px;
  padding: 0 22px;
}

.more-about-heading {
  text-transform: uppercase;
  text-align: center;
}

.more-about-articles {
  display: flex;
  flex-wrap: nowrap;
}

.more-about-article {
  flex: 0 0 167px;
  height: 215px;
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: #090909;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-left: 11px;
}

.more-about-article:first-child {
  margin-left: 0;
}

.more-about-article-thumbnail {
  width: 100%;
  height: auto;
}

.more-about-article-title {
  margin-top: 13px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 0.9;
  margin-bottom: 0;
}

.more-about-article-issue {
  position: absolute;
  font-size: 8px;
  right: 8px;
  bottom: 2px;
}

.scroller-mask {
  height: 220px;
  overflow: hidden;
  position: relative;
}

.scroller-mask:before {
  display: none;
  content: '';
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.6;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100&0+0,1+100 */
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}

.scroller-horizontal {
  overflow-x: scroll;
  height: 315px;
}
